<a href="https://colab.research.google.com/github/aibees/anaconda_prods/blob/main/ftest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy.stats import bartlett
from scipy.stats import levene
from scipy.stats import f

In [2]:
df = pd.read_csv("financial_info_10k_persons.csv")

In [3]:
df.head()

   ID  is_attrited  Age  ... Credit_limit  Total_trans_amt Total_trans_cnt
0   1            0   41  ...       4953.0             4183              67
1   2            0   38  ...       5983.0             4141              65
2   3            0   57  ...      19482.0             1421              22
3   4            0   57  ...       9149.0            14401             100
4   5            0   63  ...      16312.0             4366              68

[5 rows x 16 columns]

In [4]:
df.count()

ID                       10000
is_attrited              10000
Age                      10000
Gender                   10000
Dependent_cnt            10000
Edu_level                10000
Marital_status           10000
Income                   10000
Card                     10000
Period_m                 10000
Total_rel_cnt            10000
Inactive_last_12m        10000
Contacts_cnt_last_12m    10000
Credit_limit             10000
Total_trans_amt          10000
Total_trans_cnt          10000
dtype: int64

In [7]:
ser_M = df.loc[df["Gender"] == "M", "Period_m"]

In [8]:
ser_F = df.loc[df["Gender"] == "F", "Period_m"]

In [9]:
F = ser_M.var() / ser_F.var()

In [11]:
result = f.cdf(F, dfd=len(ser_M), dfn=len(ser_F))
result

0.9188015375173473

In [12]:
p = (1-result) * 2

In [13]:
p

0.16239692496530544

In [14]:
bartlett(ser_M, ser_F)

BartlettResult(statistic=1.9563015878266161, pvalue=0.16190940989253869)

In [16]:
levene(ser_M, ser_F)

LeveneResult(statistic=2.4640198991740747, pvalue=0.11651198398605053)

In [17]:
## question
df["ratio"] = df["Total_trans_amt"] / df["Total_trans_cnt"]
pay_M = df.loc[df["Gender"] == "M", "ratio"]
pay_F = df.loc[df["Gender"] == "F", "ratio"]

In [20]:
pay_M

1       63.707692
6       40.041667
10      34.555556
21      84.222222
23      43.340909
          ...
9993    47.303571
9995    24.739130
9996    54.800000
9997    50.234375
9998    59.773810
Name: ratio, Length: 4684, dtype: float64

In [21]:
pay_F

0        62.432836
2        64.590909
3       144.010000
4        64.205882
5       148.300000
           ...
9986     56.138889
9987     51.378788
9992     57.694118
9994     65.170732
9999     62.859155
Name: ratio, Length: 5316, dtype: float64

In [26]:
F = pay_M.var() / pay_F.var()
result = f.cdf(F, dfd=len(pay_M), dfn=len(pay_F))
print(round(F, 1), (1-result)*2)

1.7 2.220446049250313e-16

In [27]:
## question

In [28]:
df5 = df.loc[df["Age"] // 10 == 5, "ratio"]
df6 = df.loc[df["Age"] // 10 == 6, "ratio"]
df7 = df.loc[df["Age"] // 10 == 7, "ratio"]

In [29]:
stat, p = bartlett(df5, df6, df7)

In [30]:
print(p)

0.004109245841612487

In [31]:
df.head()

   ID  is_attrited  Age  ... Total_trans_amt  Total_trans_cnt       ratio
0   1            0   41  ...            4183               67   62.432836
1   2            0   38  ...            4141               65   63.707692
2   3            0   57  ...            1421               22   64.590909
3   4            0   57  ...           14401              100  144.010000
4   5            0   63  ...            4366               68   64.205882

[5 rows x 17 columns]

In [35]:
## question
df_q = df.loc[(df["Dependent_cnt"] == 0) & (df["Gender"] == "M"), ["Edu_level", "ratio"]]

In [36]:
df_q.head()

       Edu_level      ratio
1    High School  63.707692
26       College  61.153846
51   High School  57.931507
97       Unknown  38.628205
112      Unknown  43.208333

In [37]:
df_q["Edu_level"].unique()

array(['High School', 'College', 'Unknown', 'Graduate', 'Uneducated',
       'Doctorate', 'Post-Graduate'], dtype=object)

In [38]:
stat, p = levene(df_q.loc[df_q["Edu_level"] == df_q["Edu_level"].unique()[0], "ratio"],
                 df_q.loc[df_q["Edu_level"] == df_q["Edu_level"].unique()[1], "ratio"],
                 df_q.loc[df_q["Edu_level"] == df_q["Edu_level"].unique()[2], "ratio"],
                 df_q.loc[df_q["Edu_level"] == df_q["Edu_level"].unique()[3], "ratio"],
                 df_q.loc[df_q["Edu_level"] == df_q["Edu_level"].unique()[4], "ratio"],
                 df_q.loc[df_q["Edu_level"] == df_q["Edu_level"].unique()[5], "ratio"],
                 df_q.loc[df_q["Edu_level"] == df_q["Edu_level"].unique()[6], "ratio"])

In [39]:
round(p, 3)

0.507