<a href="https://colab.research.google.com/github/aibees/anaconda_prods/blob/main/join_group_last.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
bike = pd.read_csv("bike.csv")

In [3]:
bike.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [6]:
pd.crosstab(bike["holiday"], bike["workingday"], normalize=True)

workingday         0         1
holiday
0           0.290557  0.680875
1           0.028569  0.000000

In [16]:
dia = pd.read_csv("diamonds.csv")

In [17]:
dia.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [21]:
dia_agg = dia.groupby(["cut", "color"]).count().reset_index()

In [22]:
dia_agg.head()

    cut color  carat  clarity  depth  table  price    x    y    z
0  Fair     D    163      163    163    163    163  163  163  163
1  Fair     E    224      224    224    224    224  224  224  224
2  Fair     F    312      312    312    312    312  312  312  312
3  Fair     G    314      314    314    314    314  314  314  314
4  Fair     H    303      303    303    303    303  303  303  303

In [23]:
dia_agg_loc = dia_agg.loc[dia_agg["carat"] == dia_agg["carat"].max(), ["cut", "color"]]

In [26]:
dia_agg_loc

      cut color
17  Ideal     G

In [27]:
# Crosstab 사용

In [36]:
dia_agg2 = dia.groupby(["cut", "color"]).mean().reset_index()

In [40]:
dia_agg2 = dia_agg2.loc[:, ["cut", "color", "carat", "price"]]

In [41]:
dia_agg2.head()

    cut color     carat        price
0  Fair     D  0.920123  4291.061350
1  Fair     E  0.856607  3682.312500
2  Fair     F  0.904712  3827.003205
3  Fair     G  1.023822  4239.254777
4  Fair     H  1.219175  5135.683168

In [43]:
dia_agg2["percentage"] = dia_agg2["price"] / dia_agg2["carat"]

In [44]:
dia_agg2.head()

    cut color     carat        price   percentage
0  Fair     D  0.920123  4291.061350  4663.575143
1  Fair     E  0.856607  3682.312500  4298.717949
2  Fair     F  0.904712  3827.003205  4230.081128
3  Fair     G  1.023822  4239.254777  4140.618390
4  Fair     H  1.219175  5135.683168  4212.425219

In [46]:
dia_agg2.loc[dia_agg2["percentage"] == dia_agg2["percentage"].max(), :]

        cut color     carat        price   percentage
24  Premium     G  0.841488  4500.742134  5348.553755