<a href="https://colab.research.google.com/github/aibees/anaconda_prods/blob/main/single%20linear%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
df = pd.read_csv("iris.csv")
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df = df.rename(columns={"Sepal.Length":"SepalLength", "Sepal.Width":"SepalWidth"})
model = ols(formula="SepalLength ~ SepalWidth", data = df).fit()

In [5]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            SepalLength   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     2.074
Date:                Mon, 16 Aug 2021   Prob (F-statistic):              0.152
Time:                        00:55:28   Log-Likelihood:                -183.00
No. Observations:                 150   AIC:                             370.0
Df Residuals:                     148   BIC:                             376.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      6.5262      0.479     13.628      0.000       5.580       7.473
SepalWidth    -0.2234      0.155     -1.440      0.152      -0.530       0.083
==============================================================================
Omnibus:                        4.389   Durbin-Watson:                   0.952
Prob(Omnibus):                  0.111   Jarque-Bera (JB):                4.237
Skew:                           0.360   Prob(JB):                        0.120
Kurtosis:                       2.600   Cond. No.                         24.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [6]:
df = df.rename(columns={"Petal.Length":"PetalLength", "Petal.Width":"PetalWidth"})
model = ols(formula="PetalLength ~ PetalWidth", data = df).fit()

In [7]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            PetalLength   R-squared:                       0.927
Model:                            OLS   Adj. R-squared:                  0.927
Method:                 Least Squares   F-statistic:                     1882.
Date:                Mon, 16 Aug 2021   Prob (F-statistic):           4.68e-86
Time:                        00:55:30   Log-Likelihood:                -101.18
No. Observations:                 150   AIC:                             206.4
Df Residuals:                     148   BIC:                             212.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.0836      0.073     14.850      0.000       0.939       1.228
PetalWidth     2.2299      0.051     43.387      0.000       2.128       2.332
==============================================================================
Omnibus:                        2.438   Durbin-Watson:                   1.430
Prob(Omnibus):                  0.295   Jarque-Bera (JB):                1.966
Skew:                           0.211   Prob(JB):                        0.374
Kurtosis:                       3.369   Cond. No.                         3.70
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
from sklearn.linear_model import LinearRegression

In [11]:
model_l = LinearRegression().fit(X = df[["PetalLength"]], y = df["PetalWidth"])

In [12]:
model_l.coef_

array([0.41575542])

In [13]:
model_l.predict(df[["PetalLength"]])

array([0.21898206, 0.21898206, 0.17740652, 0.2605576 , 0.21898206,
       0.34370869, 0.21898206, 0.2605576 , 0.21898206, 0.2605576 ,
       0.2605576 , 0.30213314, 0.21898206, 0.09425544, 0.13583098,
       0.2605576 , 0.17740652, 0.21898206, 0.34370869, 0.2605576 ,
       0.34370869, 0.2605576 , 0.0526799 , 0.34370869, 0.42685977,
       0.30213314, 0.30213314, 0.2605576 , 0.21898206, 0.30213314,
       0.30213314, 0.2605576 , 0.2605576 , 0.21898206, 0.2605576 ,
       0.13583098, 0.17740652, 0.21898206, 0.17740652, 0.2605576 ,
       0.17740652, 0.17740652, 0.17740652, 0.30213314, 0.42685977,
       0.21898206, 0.30213314, 0.21898206, 0.2605576 , 0.21898206,
       1.59097494, 1.50782385, 1.67412602, 1.29994614, 1.54939939,
       1.50782385, 1.59097494, 1.00891735, 1.54939939, 1.2583706 ,
       1.09206844, 1.38309723, 1.29994614, 1.59097494, 1.13364398,
       1.46624831, 1.50782385, 1.34152169, 1.50782385, 1.2583706 ,
       1.63255048, 1.29994614, 1.67412602, 1.59097494, 1.42467277,
       1.46624831, 1.63255048, 1.71570156, 1.50782385, 1.09206844,
       1.21679506, 1.17521952, 1.2583706 , 1.7572771 , 1.50782385,
       1.50782385, 1.59097494, 1.46624831, 1.34152169, 1.29994614,
       1.46624831, 1.54939939, 1.29994614, 1.00891735, 1.38309723,
       1.38309723, 1.38309723, 1.42467277, 0.88419073, 1.34152169,
       2.13145698, 1.7572771 , 2.08988144, 1.96515481, 2.04830589,
       2.38091023, 1.50782385, 2.2561836 , 2.04830589, 2.17303252,
       1.7572771 , 1.84042819, 1.92357927, 1.71570156, 1.7572771 ,
       1.84042819, 1.92357927, 2.42248577, 2.50563685, 1.71570156,
       2.00673035, 1.67412602, 2.42248577, 1.67412602, 2.00673035,
       2.13145698, 1.63255048, 1.67412602, 1.96515481, 2.04830589,
       2.17303252, 2.29775914, 1.96515481, 1.7572771 , 1.96515481,
       2.17303252, 1.96515481, 1.92357927, 1.63255048, 1.88200373,
       1.96515481, 1.7572771 , 1.7572771 , 2.08988144, 2.00673035,
       1.79885264, 1.71570156, 1.79885264, 1.88200373, 1.7572771 ])

In [14]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [40]:
from sklearn.model_selection import train_test_split

bike = pd.read_csv("bike.csv")

In [41]:
bike

                  datetime  season  holiday  ...  casual  registered  count
0      2011-01-01 00:00:00       1        0  ...       3          13     16
1      2011-01-01 01:00:00       1        0  ...       8          32     40
2      2011-01-01 02:00:00       1        0  ...       5          27     32
3      2011-01-01 03:00:00       1        0  ...       3          10     13
4      2011-01-01 04:00:00       1        0  ...       0           1      1
...                    ...     ...      ...  ...     ...         ...    ...
10881  2012-12-19 19:00:00       4        0  ...       7         329    336
10882  2012-12-19 20:00:00       4        0  ...      10         231    241
10883  2012-12-19 21:00:00       4        0  ...       4         164    168
10884  2012-12-19 22:00:00       4        0  ...      12         117    129
10885  2012-12-19 23:00:00       4        0  ...       4          84     88

[10886 rows x 12 columns]

In [43]:
df_train, df_test = train_test_split(bike, train_size = 0.7, random_state = 123)

In [44]:
df_train.head()

                 datetime  season  holiday  ...  casual  registered  count
4046  2011-09-19 15:00:00       3        0  ...      44         143    187
9262  2012-09-09 07:00:00       3        0  ...      20          50     70
6409  2012-03-04 07:00:00       1        0  ...       2          21     23
6075  2012-02-09 09:00:00       1        0  ...       9         229    238
6720  2012-03-17 07:00:00       1        0  ...      29          57     86

[5 rows x 12 columns]

In [45]:
model = ols(formula="registered ~ temp", data = df_train).fit()

In [46]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             registered   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.106
Method:                 Least Squares   F-statistic:                     902.3
Date:                Mon, 16 Aug 2021   Prob (F-statistic):          1.92e-187
Time:                        01:56:37   Log-Likelihood:                -48650.
No. Observations:                7620   AIC:                         9.730e+04
Df Residuals:                    7618   BIC:                         9.732e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     27.5151      4.559      6.036      0.000      18.579      36.452
temp           6.3391      0.211     30.038      0.000       5.925       6.753
==============================================================================
Omnibus:                     2097.525   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5337.402
Skew:                           1.502   Prob(JB):                         0.00
Kurtosis:                       5.790   Cond. No.                         60.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [47]:
model = ols(formula="casual ~ atemp", data = df_train).fit()

In [53]:
pred = model.predict(df_test)

In [54]:
pred

6495    31.499001
7050    12.626390
558     10.537120
5085    33.588271
3328    73.422763
          ...
3733    41.986859
24      33.588271
9650    54.563988
6246    16.818766
5239     0.049261
Length: 3266, dtype: float64

In [55]:

mean_squared_error(y_pred = pred,
                   y_true = df_test["casual"]) ** 0.5

44.46237010271433

In [56]:
# 여름과 겨울의 rmse 차이 (casual~atemp)
bike = pd.read_csv("bike.csv")

In [57]:
bike.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [62]:
bike_summer = bike.loc[bike["season"] == 2, ["casual", "atemp"]]
bike_winter = bike.loc[bike["season"] == 4, ["casual", "atemp"]]

In [63]:
sum_train, sum_test = train_test_split(bike_summer, train_size = 0.7, random_state = 123)
model_summer = ols(formula = "casual ~ atemp", data = sum_train).fit()

In [64]:
model_summer.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 casual   R-squared:                       0.135
Model:                            OLS   Adj. R-squared:                  0.135
Method:                 Least Squares   F-statistic:                     298.9
Date:                Mon, 16 Aug 2021   Prob (F-statistic):           2.51e-62
Time:                        02:10:19   Log-Likelihood:                -10374.
No. Observations:                1913   AIC:                         2.075e+04
Df Residuals:                    1911   BIC:                         2.076e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -56.5133      6.186     -9.136      0.000     -68.645     -44.382
atemp          3.9366      0.228     17.287      0.000       3.490       4.383
==============================================================================
Omnibus:                      873.648   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4285.650
Skew:                           2.177   Prob(JB):                         0.00
Kurtosis:                       8.900   Cond. No.                         134.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [65]:
win_train, win_test = train_test_split(bike_winter, train_size = 0.7, random_state = 123)
model_winter = ols(formula = "casual ~ atemp", data = win_train).fit()

In [66]:
pred_summer = model_summer.predict(sum_test)
pred_winter = model_winter.predict(win_test)

In [67]:
pred_summer

2296    68.749194
7883    71.721325
1726    41.901597
7014    44.893412
7029     0.153978
          ...
7691    68.749194
7042    24.009760
8141    83.649217
7271    47.865543
8076    65.757380
Length: 820, dtype: float64

In [68]:
pred_winter

5028     24.167239
10618    24.167239
4458     47.726429
9748     50.334521
9763     29.400696
           ...
9776     42.475701
10839    34.634152
10005    11.074962
10811    24.167239
4661     13.700326
Length: 821, dtype: float64

In [73]:
round(abs(mean_squared_error(y_true = win_test["casual"], y_pred = pred_winter)**0.5 - mean_squared_error(y_true = sum_test["casual"], y_pred = pred_summer)**0.5), 1)

8.6