<a href="https://colab.research.google.com/github/aibees/anaconda_prods/blob/main/ttest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy.stats import *

In [3]:
iris = pd.read_csv("iris.csv")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
stat, p = ttest_1samp(iris["Sepal.Length"], popmean=4)

In [7]:
stat

27.263680640799215

In [8]:
 bike = pd.read_csv("bike.csv")

In [9]:
bike.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [10]:
stat, p = ttest_1samp(bike["temp"], popmean=20)

In [11]:
print(stat, p)

3.0914087709393696 0.0019971246609168593

In [13]:
round(p, 3)

0.002

In [19]:
bike_2 = bike.loc[bike["datetime"].str.slice(0, 7) == "2011-01", :]

In [20]:
bike_2.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [21]:
bike_2["hour"] = pd.to_datetime(bike_2["datetime"]).dt.hour

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
bike_2

                datetime  season  holiday  ...  registered  count  hour
0    2011-01-01 00:00:00       1        0  ...          13     16     0
1    2011-01-01 01:00:00       1        0  ...          32     40     1
2    2011-01-01 02:00:00       1        0  ...          27     32     2
3    2011-01-01 03:00:00       1        0  ...          10     13     3
4    2011-01-01 04:00:00       1        0  ...           1      1     4
..                   ...     ...      ...  ...         ...    ...   ...
426  2011-01-19 19:00:00       1        0  ...         108    112    19
427  2011-01-19 20:00:00       1        0  ...          74     76    20
428  2011-01-19 21:00:00       1        0  ...          55     59    21
429  2011-01-19 22:00:00       1        0  ...          53     59    22
430  2011-01-19 23:00:00       1        0  ...          27     28    23

[431 rows x 13 columns]

In [30]:
stat, p = ttest_rel(bike_2["casual"], bike_2["registered"])

In [31]:
print(stat)

-21.409875120262452

In [32]:
round(abs(stat))

21

In [27]:
stat, p = ttest_rel(bike2_agg["casual"], bike2_agg["registered"])

In [28]:
print(p)

2.269373532718898e-06

In [29]:
print(stat)

-6.243771378270042

In [33]:
bike.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [34]:
stat, p = ttest_ind(bike.loc[bike["workingday"] == 0, "registered"],
                    bike.loc[bike["workingday"] == 1, "registered"])

In [35]:
print(stat, p)

-12.552707000266874 6.806493719916074e-36

In [36]:
round(abs(stat))

13