<a href="https://colab.research.google.com/github/aibees/anaconda_prods/blob/main/%EC%83%81%EA%B4%80%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from scipy.stats import kendalltau

In [2]:
bike = pd.read_csv("bike.csv")
bike.head()

              datetime  season  holiday  ...  casual  registered  count
0  2011-01-01 00:00:00       1        0  ...       3          13     16
1  2011-01-01 01:00:00       1        0  ...       8          32     40
2  2011-01-01 02:00:00       1        0  ...       5          27     32
3  2011-01-01 03:00:00       1        0  ...       3          10     13
4  2011-01-01 04:00:00       1        0  ...       0           1      1

[5 rows x 12 columns]

In [3]:
#corr 사용
bike[["casual", "registered", "count"]].corr()

              casual  registered     count
casual      1.000000    0.497250  0.690414
registered  0.497250    1.000000  0.970948
count       0.690414    0.970948  1.000000

In [4]:
bike[["casual", "registered", "count"]].corr(method="spearman")

              casual  registered     count
casual      1.000000    0.775785  0.847378
registered  0.775785    1.000000  0.988901
count       0.847378    0.988901  1.000000

In [6]:
pearsonr(bike["casual"], bike["registered"])

(0.49724968508700806, 0.0)

In [19]:
# 기온, 체감온도, 상대습도, 총 자전거 대여숫자의 상관관계 분석, 가장 낮은 상관계수
bike[["temp","atemp","humidity","casual"]].corr(method="spearman").min()

temp       -0.046854
atemp      -0.042028
humidity   -0.378254
casual     -0.378254
dtype: float64

In [20]:
#계절 별 체감온도와 자전거 대여숫자 상관관계
#봄
spring = bike.loc[bike["season"] == 1, ["casual", "atemp"]]
s1 = pearsonr(spring["casual"], spring["atemp"])
#여름
summer = bike.loc[bike["season"] == 2, ["casual", "atemp"]]
s2 = pearsonr(summer["casual"], summer["atemp"])
#가을
automn = bike.loc[bike["season"] == 3, ["casual", "atemp"]]
s3 = pearsonr(automn["casual"], automn["atemp"])
#겨울
winter = bike.loc[bike["season"] == 4, ["casual", "atemp"]]
s4 = pearsonr(winter["casual"], winter["atemp"])

In [21]:
print(round(s1[0], 3),
      round(s2[0], 3),
      round(s3[0], 3),
      round(s4[0], 3))

0.478 0.378 0.381 0.444

In [22]:
bike = pd.read_csv("bike.csv")

In [23]:
bike[["season", "atemp", "casual"]].groupby("season").corr()

                  atemp    casual
season
1      atemp   1.000000  0.478312
       casual  0.478312  1.000000
2      atemp   1.000000  0.378122
       casual  0.378122  1.000000
3      atemp   1.000000  0.381423
       casual  0.381423  1.000000
4      atemp   1.000000  0.443751
       casual  0.443751  1.000000

In [24]:
# 날씨에 따른 기온과 자전거 대여의 상관계수 변화
bike["weather"].unique()

array([1, 2, 3, 4])

In [25]:
bike["shine"] = (bike["weather"] == 1)

In [26]:
bike[["shine", "temp", "casual"]].groupby("shine").corr()

                  temp    casual
shine
False temp    1.000000  0.446361
      casual  0.446361  1.000000
True  temp    1.000000  0.471053
      casual  0.471053  1.000000

In [28]:
shine = bike.loc[bike["shine"] == True, ["temp", "casual"]]
notshine = bike.loc[bike["shine"] == False, ["temp", "casual"]]

In [30]:
round( abs( pearsonr(shine["temp"], shine["casual"])[0] - pearsonr(notshine["temp"], notshine["casual"])[0] ) , 3)

0.025